* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: rgb(207, 195, 146);
  display: flex;
  flex-direction: row;
}
.header img {
  min-width: 5vw;
  max-width: 8vw;
}
.header h1 {
  width: 80vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.header h2 {
  width: 80vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  direction: row;
}
.container .mensagens {
  width: 30vw;
  padding: 20px;
  margin: 5px;
  background-color: darkgray;
}
.container .conteudo {
  width: 70vw;
  padding: 20px;
  margin: 5px;
  height: 70vh;
}
.container .conteudo h2 {
  font-size: 30pt;
  font-weight: lighter;
  font-family: "Lucida Sans";
  text-align: center;
  margin-bottom: 40px;
}

.items div {
  width: 30%;
  height: 200px;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 5px silver;
  margin: 10px;
  cursor: pointer;
  transition: ease 0.5s;
}
.items div:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
}
.items {
  display: flex;
  flex-direction: row;
}

.itens h3 {
  font-family: "Lucida Sans";
  font-size: 15pt;
}
.itens p {
  font-family: "Lucida Sans";
  font-size: 12pt;
}
.items .preco {
  color: red;
}
